/* Everything */
* {font-family: "Georgia", Times, serif;}


:root {
    --bg-col: rgb(248, 247, 241);
    --p1: rgb(84, 88, 88);
    --p2: rgb(228, 228, 221);
    --p3: rgb(48, 51, 51);
    --p4: rgb(122, 126, 126);
    --navbg: rgb(27, 29, 29);
    --navhov: #c0c9c7;
}
[data-theme="dark"]{
    --bg-col: rgb(27, 29, 29);
    --p4: rgb(84, 88, 88);
    --p3: rgb(228, 228, 221);
    --p2: rgb(48, 51, 51);
    --p1: rgb(122, 126, 126);
    --navbg: rgb(248, 247, 241);
    --navhov: #505353;
}
/* Everything not in the sidebar */
body {background-color: var(--bg-col);}
.main {
    /* Thank you http://bettermotherfuckingwebsite.com/ */
    margin: 40px auto;
    margin-left: 160px;
    max-width: 1000px;
    line-height: 1.4;
    font-size: 18px;
    color: var(--p1);
    padding: 0 10px;
    text-align: center;
}
/* headers and things you want small line height for */
h1,h2,h3 {line-height: 1.2;}
.smalllh {line-height: 0.4;}
/* Seperators between blocks of text */
.line-bg{
    border-style: solid;
    border-width: 1px;
    border-color:var(--p2);
    margin: 0px 10px 0px 170px;
}
.line-sn{
    border-style: solid;
    border-width: 1px;
    border-color: var(--p3);
    margin: 0px 10px 0px 10px;
}


/* Makes the links appear actually decent */
a {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
a:link, a:visited{
    color: var(--p1);
    text-decoration: none;
}
a:hover{
    color: var(--p4);
    text-decoration: none;
}
a:active{
    color: var(--p3);
    text-decoration: none;
}
/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
/* Sidebar navigation */
.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--navbg);
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #8e8f86;
    display: block;
}
.sidenav a:hover {color: var(--navhov);}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
table, th, td {
    border-bottom: 1px solid var(--p2);
    border-collapse: collapse;
    padding: 2px 20px 2px 20px;
}
table {
    width:100%; 
    margin-left:0%; 
    margin-right:0%;
}
.tblBtns {
    background-color: var(--bg-col);
    border: none;
    font-family: "Georgia", Times, serif;
    line-height: 1.4;
    font-size: 18px;
    color: var(--p1);
    padding: 0 10px;
    text-align: center;
    width: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
}
.tblBtns:hover {
    background-color: var(--p1); /* Green */
    color: var(--bg-col);
}
.titlesTable:before {
    /* Thank you http://bettermotherfuckingwebsite.com/ */
    content: '   ';
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 10%;
    margin-right: 25px;
}
.circlecol{display: flex;}
.titlesTable {
    margin: 40px auto;
    margin-left: 160px;
    max-width: 1000px;
    line-height: 1.2;
    color: var(--p1);
    /* padding-left: 17%; */
    text-align: center;
}
.circle0:before{background-color: #eee655;}
.circle1:before{background-color: #58ee55;}
.circle2:before{background-color: #8f5eeb;}
.circle3:before{background-color: #ee55e1;}
.circle4:before{background-color: #ee5555;}
.circle5:before{background-color: #55eeee;}